@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* Variables - Start */
:root {
  --clr-primary-dark-cyan: hsl(185, 75%, 39%);
  --clr-primary-very-dark-blue: hsl(229, 23%, 23%);
  --clr-primary-very-dark-blu-opacity: hsla(229, 23%, 23%, 0.4);
  --clr-primary-dark-grayish: hsl(227, 10%, 46%);

  --clr-neutral-dark: hsl(0, 0%, 59%);

  --font-family: 'Kumbh Sans', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-body: 1.125rem;
}
/* Variables - End */
/* CSS Reset - Start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS Reset - End */
/* General Styles - Start */
body {
  font-family: var(--font-family);
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-position: right 40vw bottom 60vh, left 25vw top 50vh;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--clr-primary-dark-cyan);
}
main {
  display: grid;
  max-width: 90%;
  margin-inline: auto;
  place-items: center;
  border-radius: 1rem;
  margin-top: 10%;
  overflow: hidden;
}
article {
  background-color: white;
  width: 100%;
  position: relative;
}
hr {
  opacity: 0.3;
}
.data > p {
  font-size: .875rem;
}
.background {
  width: 100%;
}
.profile-img {
  position: absolute;
  top: -24%;
  left: 32%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 6px solid white;
}
.name {
  display: flex;
  margin-top: 4.5em;
  margin-inline:auto;
  justify-content:center;
  text-align: center;
}
span {
  margin-left: 10px;
}
.city {
  text-align: center;
  margin-bottom: 2em;
}
.stats {
  display: flex;
  text-align: center;
  justify-content: space-between;
  max-width:90%;
  margin-inline:auto;
  padding: 1.5em 0;
}
.fs-body {font-size: var(--fs-body);}
.fw-regular {font-weight: var(--fw-regular);}
.fw-bold {font-weight: var(--fw-bold);}
.clr-dark {color: var(--clr-primary-very-dark-blue);}
.clr-light {color: var(--clr-primary-very-dark-blu-opacity);}

/* General Styles - End */
/* Responsive - Start */
@media (min-width:400px) {
  main {
    max-width: 22em;
    margin-inline: auto;
  }
  .profile-img {
    left: 34%;
  }
}
/* Responsive - End */